<p>Navier Stokes Cavity</p>



<div class="center">
    <img [src]="cavity">
</div>

<form [formGroup]="parameterForm"
    (ngSubmit)="onSubmit(parameterForm)">
    <div>
        <label for="xlength">
            x length
        </label>
        <input id="xlength" type="text" formControlName="xlength">
    </div>
    
    <div>
        <label for="ylength">
            y length
        </label>
        <input id="ylength" type="text" formControlName="ylength">
    </div>
    
    <div>
        <label for="nx">
            nx (ny)
        </label>
        <input id="nx" type="text" formControlName="nx">
    </div>
    
    <div>
        <label for="nu">
            nu (viscosity)
        </label>
        <input id="nu" type="text" formControlName="nu">
    </div>
    
    <div>
        <label for="rho">
            rho (density)
        </label>
        <input id="rho" type="text" formControlName="rho">
    </div>
    
    <div>
        <label for="dt">
            dt (time increment)
        </label>
        <input id="dt" type="text" formControlName="dt">
    </div>
    
    <div>
        <label for="iteration">
            Iteration
        </label>
        <input id="iteration" type="text" formControlName="iteration">
    </div>

    <button mat-button type="submit"> Submit</button>

</form>




